<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <!-- <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}"> -->
       <link rel="stylesheet" href="/static/css/style.css">
      <title>Calculator</title>
   </head>
   <body>
      <!-- <script src="{{url_for('static', filename='js/script.js')}}"></script> -->
      <div id="calculator">
         <input id="num-display" readonly>
         <div id="keys">
            <div class="key-row">
               <button onclick="appendNums('sin')">sin</button>
               <button onclick="appendNums('7')">7</button>
               <button onclick="appendNums('8')">8</button>
               <button onclick="appendNums('9')">9</button>
               <button onclick="appendNums('/')">/</button>
            </div>
            <div class="key-row">
               <button onclick="appendNums('cos')">cos</button>
               <button onclick="appendNums('4')">4</button>
               <button onclick="appendNums('5')">5</button>
               <button onclick="appendNums('6')">6</button>
               <button onclick="appendNums('*')">*</button>
            </div>
            <div class="key-row">
               <button onclick="appendNums('tan')">tan</button>
               <button onclick="appendNums('1')">1</button>
               <button onclick="appendNums('2')">2</button>
               <button onclick="appendNums('3')">3</button>
               <button onclick="appendNums('-')">-</button>
            </div>
            <div class="key-row">
               <button onclick="appendNums('log')">log</button>
               <button onclick="appendNums('0')">0</button>
               <button onclick="appendNums('.')">.</button>
               <button onclick="calculate()">=</button>
               <button onclick="appendNums('+')">+</button>
            </div>
            <div class="key-row">
               <button onclick="appendNums('exp')">exp</button>
               <button onclick="appendNums('^')">^</button>
               <button onclick="clear()">C</button>
            </div>
         </div>
      </div>
   </body>
</html>