<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
      <title>Calculator</title>
   </head>
   <body>
      <div id="calculator">
         <p id="display"></p>
         <div id="keys">
            <div class="key-row">
               <button onclick="append_display('sin')">sin</button>
               <button onclick="append_display('7')">7</button>
               <button onclick="append_display('8')">8</button>
               <button onclick="append_display('9')">9</button>
               <button onclick="append_display('/')">/</button>
            </div>
            <div class="key-row">
               <button onclick="append_display('cos')">cos</button>
               <button onclick="append_display('4')">4</button>
               <button onclick="append_display('5')">5</button>
               <button onclick="append_display('6')">6</button>
               <button onclick="append_display('*')">*</button>
            </div>
            <div class="key-row">
               <button onclick="append_display('tan')">tan</button>
               <button onclick="append_display('1')">1</button>
               <button onclick="append_display('2')">2</button>
               <button onclick="append_display('3')">3</button>
               <button onclick="append_display('-')">-</button>
            </div>
            <div class="key-row">
               <button onclick="append_display('log')">log</button>
               <button onclick="append_display('0')">0</button>
               <button onclick="append_display('.')">.</button>
               <button onclick="calculate()">=</button>
               <button onclick="append_display('+')">+</button>
            </div>
            <div class="key-row">
               <button onclick="append_display('exp')">exp</button>
               <button onclick="append_display('^')">^</button>
               <button onclick="append_display('(')">(</button>
               <button onclick="append_display(')')">)</button>
               <button onclick="clear_display()">C</button>
            </div>
         </div>
      </div>
      <script src="{{url_for('static', filename='js/scripts.js')}}"></script>
   </body>
</html>